/****** Homepage Hero Area *********/

body.home {

    h2 , h3, h4 {
        font-weight: $headings-font-weight;
        color: $blue;
    }

    .container-fluid {
        width: $spacer * 26;
    }

    /***** Hero Styles***/
   
    .hero{
    background-size: cover;
    height: 100vh;
    margin-top: $spacer  - 8;
    max-width: 100%;
    position: center; 

    }


    .jumbotron-fluid {
        padding-top: $spacer * 16;
        padding-right: $spacer * 25;
    }

    .jumbotron-fluid p {
        color: $white;
    }


    /***** Featured Advanced Custom Field Content Section *****/
    .featured-image{
        background-size: cover;
        background-repeat: no-repeat;
        height:100%;
    }

    .featured-text {
        color: $blue;
        padding: 5%;
    }

    #featured-content{
        padding: 10%;
    }

    #featured-content p {
        color: $blue;
    }

    /***** Advanced Custom Field Content and Image Sections *****/

    .col-md {
        padding: 5%;
    }
        

    }
    @include media-breakpoint-up(md) {
        .featured-image{
            background-size: 499px;
            background-repeat: no-repeat;
            height:100%;
        }
    }
}


