/****** Homepage Hero Area *********/

body.home {
    .hero{
    background-size: cover;
    height: 100vh;
    margin-top: $spacer  - 8;
    max-width: 100%;
    position: center; 

    }

    .featured-image{
        background-position: left;
        background-size: 499px;
        background-repeat: no-repeat;
        height: 50vh;
    }

    .left-image {
        max-width: 50%;
        position: center;
    }
    .jumbotron-fluid {
        padding-top: $spacer * 16;
        padding-right: $spacer * 25;
    }

    .jumbotron-fluid p {
        color: $white;
    }

    .featured-image > .container-fluid{
        height: $spacer * 16; 
    }

    .container-fluid {
        width: $spacer * 26;
    }

    .featured-text {
        color: black;
        padding-top: 5%;
    }

}
